<div class="container">
  <div>
    <h1>Nubaria</h1>
    <p class="login-title">New user</p>
  </div>
  <form action="/create_user" method="post">
  <div>
    <div class="input">
      <input
        id="nickname"
        name="nickname"
        type="text"
        placeholder="nickname"
        autofocus
        />
    </div>
  </div>
  <div>
    <div class="input">
      <input
        id="password"
        name="password"
        type="password"
        placeholder="password"
        />
    </div>
  </div>
  <div>
    <div class="input">
      <input
        id="password_confirmation"
        name="password_confirmation"
        type="password"
        placeholder="repeate password"
        />
    </div>
  </div>
  <div>
    <button
      class="btn btn-purple"
      type="submit"
      >
      Create
    </button>
  </div>
  </form>
  <div>
    <a href="/">Nah, take me back to login</a>
  </div>
</div>

<style>
a {
  margin-top: 30px;
}
</style>
