<div class="container">
  <div>
    <h1>Nubaria</h1>
    <p class="login-title">Log-in</p>
  </div>
  <form action="/login">
  <div>
    <div class="input">
      <input
        id="nickname"
        type="text"
        placeholder="nickname"
        autofocus
        />
    </div>
  </div>
  <div>
    <div class="input">
      <input
        id="password"
        type="password"
        placeholder="password"
        />
    </div>
  </div>
  <div>
    <button
      class="btn btn-purple"
      type="submit"
      >
      Ok
    </button>
  </div>
  </form>
</div>
